<div class="header">
    <span id="title">Tahekami</span>
</div> <!-- end header -->

<div id="content">
	<h1>Categor&iacute;as</h1>
    <div id="cat-autores">
      	<h2>Autores</h2>
        <table width="100%">
          <tbody>
            <tr valign="top">
              <td>
                <h3>A</h3>
                <ul>
                  <li>a1</li>
                  <li>a2</li>
                  <li>a3</li>
                </ul>
              </td>
              <td>
                <h3>B</h3>
                <ul>
                  <li>b1</li>
                  <li>b2</li>
                </ul>
              </td>
              <td>
                <h3>D</h3>
                <ul>
                  <li>d1</li>
                  <li>d2</li>
                  <li>d3</li>
                  <li>d4</li>
                  <li>d5</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!-- end cat-autores -->
      <div id="cat-institutos">
      	<h2>Institutos</h2>
        <table width="100%">
          <tbody>
            <tr valign="top">
              <td>
                <ul>
                  <li>Instituto1</li>
                  <li>Instituto2</li>
                  <li>Instituto3</li>
                  <li>Instituto4</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!-- end cat-institutos -->
      <div id="cat-etiquetas">
      	<h2>Etiquetas</h2>
          <span ng-repeat="tag in allTags.tags">
            <a>{{tag}}</a>
          </span>
      </div> <!-- end cat-etiquetas -->
</div> <!-- end content -->
