<div ng-controller="SearchCtrl">
	<center>
		<div id="logo-container">
	        <span id="logo-text">TAHEKAMI</span>
	        <br/>
	        <span>{{totalDocs.total}} documentos(ver Catalogo)</span>
			<br />
	    </div> <!--logo-container-->
	    <div id="search-form">
	      	<input id="search-input" name="search-input" type="text" value="Escribe aquí las palabras clave del documento que desees buscar" size="454" />
	        <br />
	        <div id="select-lang">
	        	<span id="select-lang-text">Buscar documentos en: </span>
	            <ul>
	          		<li id="spanish">Castellano <input name="spanish" type="checkbox" value="" checked="checked"/></li>
	            	<li id="guarani">Guaran&iacute; <input name="guarani" type="checkbox" value="" checked="checked" /></li>
	          </ul>
	        </div> <!--select-lang-->
	        <div>
	          <button class="submit-button" name="search-button" value="Buscar" type="submit"><span id="search-button-text">Buscar</span></button>
	        </div> <!--submit-button-->
	      </div> <!--search-form-->
	</center>
</div>   
