<div ng-controller="UploadCtrl">
	<h1>Tahekami</h1>
	<form class="form-horizontal" enctype="multipart/form-data" ng-submit="uploadFiles()">	
	    <fieldset>
    		<legend>Subir un Documento</legend>
	    	<div class="control-group">
    			<label class="control-label" for="titleField">T&iacute;tulo</label>
    			<div class="controls">
      				<input type="text" class="input-xxlarge" id="titleField" placeholder="Escriba aqui el titulo del documento">
    			</div>
  			</div>	
	    	<div class="control-group">
	    		<label class="control-label">Idioma</label>
    			<div class="controls">
      				<label class="radio">
					  <input type="radio" name="langOptions" value="option1"> Castellano
					</label>
					<label class="radio">
					  <input type="radio" name="langOptions" value="option2"> Guaran&iacute;
					</label>
					<label class="radio">
					  <input type="radio" name="langOptions" value="option3"> Castellano y Guaran&iacute;
					</label>
      			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="spanishFileField">Archivo en Castellano</label>
    			<div class="controls">
      				<input name="uploadSpanish" type="file" id="spanishFileField"/>
    			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="guaraniFileField">Archivo en Guarani</label>
    			<div class="controls">
      				<input name="uploadGuarani" type="file" id="guaraniFileField"/>
    			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="tags">Etiquetas (separadas por coma)</label>
    			<div class="controls">
      				<input type="text" class="input-xxlarge" id="tags" placeholder="Ej... literatura, poesía, roa bastos">
    			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="author">Autor</label>
    			<div class="controls">
      				<input type="text" class="input-xlarge" id="author">
    			</div>
  			</div>
  			<div class="control-group">
    			<label class="control-label" for="institute">Instituto</label>
    			<div class="controls">
      				<input type="text" class="input-xlarge" id="institute">
    			</div>
  			</div>
  			<div class="control-group">
		    	<div class="controls">
		      		<label class="checkbox">
		        		<input type="checkbox" checked="checked"> Permitir la descarga
		      		</label>
		     	</div>
		  	</div>
			<div class="form-actions">
  				<input class="btn btn-primary" type="submit" value="Enviar">
 			</div>
	    </fieldset>
	</form>
</div> 
	    
	    